@model SE1616_Group3_Project.Models.Order
<!-- Page Header Start -->
<script>
    function updateQuantity(pid, abc) {
        var id = pid;
        var quantity = abc.value;
        $.ajax({
            data: {
                id: id,
                quantity: quantity
            },
           
            url: '@Url.Action("UpdateQuantity")',
            type: "post",
            
           
            success: function(response) {
                
            },
            error: function(xhr) {

            }
        });
    }
</script>
<div class="container-fluid page-header py-6 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center pt-5 pb-3">
        <h1 class="display-4 text-white animated slideInDown mb-3">Products</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" >Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" >Carts</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">My Cart</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Product Start -->
<div class="container bg-light" style="">
    <div class="container">
        <div class="bg-primary text-light rounded-bottom mb-2 wow fadeInUp" data-wow-delay="0.1s">
            <div class="row align-items-center">
                <div class="col-lg-6 text-center">
                    @if (ViewBag.CartItems == null)
                    {
                        <h4 class="display-4 text-light p-2 mb-0">Your cart is empty. Explore <a asp-action="Index" asp-controller="Product">Product Page</a> to add products to cart</h4>
                    }
                    else
                    {
                        <h4 class="display-4 text-light p-2 mb-0">Your products in cart</h4>
                    }

                </div>

            </div>
        </div>
        <div class="row g-4">

            @if (ViewBag.CartItems != null)
            {
                @foreach (CartItem c in ViewBag.CartItems)
                {
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="  position-relative d-flex flex-column bg-white rounded overflow-hidden h-100">
                            <a asp-action="Delete" asp-controller="Cart" asp-route-id="@c.ProductId" class="position-absolute btn btn-outline-danger" style="top:1%;right:1%"><i class="bi bi-x-circle"></i></a>
                            <div class="text-center p-4">
                                <div class="d-inline-block border border-primary rounded-pill px-3 mb-3">@c.Product.Price $</div>
                                <br /><span>Quantity: </span><input onchange='updateQuantity(@c.ProductId,this)' type="number" min="0" max="@c.Product.Quantity" value="@c.Quantity" />
                                <h3 class="mb-3">@c.Product.Name</h3>
                                <span>@c.Product.Detail</span>
                            </div>
                            <div class="position-relative mt-auto">
                                <img class="img-fluid" src="~/@c.Product.PhotoLink" alt="">

                            </div>
                        </div>
                    </div>
                }
            }


        </div>
        <div class="row mt-2 pt-4">
            <h2>Shipping information  </h2>
            <form id="checkout" asp-action="Add" asp-controller="Order">
                <label class="form form-label" asp-for="UserEmail"></label>
                <input asp-for="UserEmail" class="form form-control mb-2" readonly value="@ViewBag.user.Email" />
                <label class="form form-label" asp-for="UserName" ></label>
                <input asp-for="UserName" class="form form-control mb-2" value="@ViewBag.user.Name" required/>
                <label class="form form-label" asp-for="Phone"></label>
                <input asp-for="Phone" class="form form-control mb-2" value="@ViewBag.user.Phone" required/>
                <label class="form form-label" asp-for="ShipAddress"></label>
                <input asp-for="ShipAddress" class="form form-control mb-2" value="@ViewBag.user.Address" required/>
                <label class="form form-label">Payment method</label>
                <select name="PaymentMethod" class="form form-select mb-2" required>
                    @foreach (PaymentMethod pm in @ViewBag.payment)
                    {
                        <option value="@pm.Id">
                            @pm.Method
                        </option>
                    }
                </select>
                

            </form>
        </div>
        <div class="row mt-2">
            <button type="submit" form="checkout" class="btn btn-primary">Checkout</button>

        </div>
    </div>
</div>

<!-- Product End -->